<template>
	<div>
		<b-row>
			<b-col md="4">
				<b-card class="m-3 p-3 card-link" variant="light" @click="redirect('service')">
					<h5>Serviços</h5>
					<br>
					<small>Cadastro de Serviços</small>
				</b-card>
			</b-col>
			<b-col md="4">
				<b-card class="m-3 p-3 card-link" variant="light" @click="redirect('service-order')">
					<h5>Ordem de Serviço</h5>
					<br>
					<small>Cadastro de Ordem de Serviço</small>
				</b-card>
			</b-col>
			<b-col md="4">
				<b-card class="m-3 p-3 card-link" variant="light" @click="redirect('report')">
					<h5>Relatório</h5>
					<br>
					<small>Relatório de Ordem de Serviço</small>
				</b-card>
			</b-col>
		</b-row>
	</div>
</template>

<script>
export default {
	methods: {
		redirect(to = ''){
			this.$router.push(to)
		}
	}
}
</script>

<style>
	.card-link:hover{
		cursor: pointer;
		/* opacity: 0.5; */
		transform: scale(1.1);
	}
</style>