<template>
    <div class="p-2">
        <b-card class="m-5 p-2">
            <b-row>
                <form class="col-md" @submit.prevent="login">
                    <div class="row">
                        <h4>Acesso</h4>
                    </div>
                    <br>
                    <div class="row">
                        Nome do usuário:
                        <b-form-input v-model="username" placeholder="Usuário"/>
                    </div>
                    <div class="row">
                        Senha:
                        <b-form-input type="password" v-model="password" placeholder="Senha"/>
                    </div>
                    <br>
                    <b-btn type="submit" variant="primary">Acessar</b-btn>
                    <br>
                    <small class="text-danger">{{message}}</small>
                </form>
            </b-row>
        </b-card>
    </div>
</template>

<script>
import request from '@/api/request'

export default {
    data(){
        return {
            username: '',
            password: '',
            message: '',
        }
    },
    methods: {
        login(){
            this.message = ''
            
            //realizando requisição de login à API
            request({
                    endpoint:'api/login/', 
                    method:'POST', 
                    data:{
                        username: this.username,
                        password: this.password
                    }
                },

                // Método de sucesso da requisição
                (r) => {
                    localStorage.setItem('user-token', r.data.token)
                    localStorage.setItem('logged', true)

                    //redirecionando para página inicial do sistema
                    this.$router.push('home')
                    window.location.reload()
                },

                // Método de falha da requisição
                (err) => {
                    console.log(err)
                    this.message = 'Houve algum problema, tente novamente ou contate-nos.'
                },
                true
            )
        }
    }
}
</script>

<style>
    .login-form {
        height: 200px;
        position: relative;
        border: 3px solid green;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>