<template>
    <div class="m-2"> 
        <!-- Cabeçalho -->
        <b-row>
            <b-col md="6">
                <h5 class="pl-2">Relatório de Ordens de Serviço</h5>
            </b-col>
            <b-col md="2" align="end" offset-md="4">
                <b-btn @click="print_current_page" variant="primary">
                    <b-icon-printer/>
                </b-btn>
            </b-col>
        </b-row>
        <br>
        <b-card>
            <b-table label-sort-asc="" label-sort-desc="" :fields="fields" :items="items">
            <template #cell(value)="data">
                R$ {{data.item.value}}
            </template>
            <template #cell(total)="data">
                R$ {{data.item.total}}
            </template>
            <template #cell(discount)="data">
                {{data.item.discount}} %
            </template>
            <template #cell(final_value)="data">
                R$ {{data.item.final_value}}
            </template>
            </b-table>
        </b-card>
    </div>
</template>

<script>
    import request from '@/api/request/'

    export default {
        data() {
            return {
                fields: [
                    {
                        key: 'service',
                        label: 'Serviço',
                        sortable: true
                    },
                    {
                        key: 'value',
                        label: 'Valor Unitário',
                        sortable: true
                    },
                    {
                        key: 'amount',
                        label: 'Quantidade',
                        sortable: true
                    },
                    {
                        key: 'total',
                        label: 'Valor Total',
                        sortable: true
                    },
                    {
                        key: 'discount',
                        label: 'Desconto',
                        sortable: true
                    },
                    {
                        key: 'final_value',
                        label: 'Valor Final',
                        sortable: true
                    },

                ],
                items: []
            }
        },
        mounted() {
            request(
                {
                    endpoint: 'api/service-order-report/',
                    method: 'GET',
                    data: {},
                },
                (r) => {
                    this.items = r.data
                }
            )
        },
        methods:{
            print_current_page(){
                window.print()
            }
        }
  }
</script>

<style>

</style>