<template>
    <div class="m-2">

        <!-- Cabeçalho -->
        <b-row>
            <b-col md="6">
                <h5 class="pl-2">Ordens de serviço</h5>
            </b-col>
            <b-col md="2" align="end" offset-md="4">
                <b-btn @click="serviceModal({...default_service_order})" v-b-modal.service variant="primary">Adicionar</b-btn>
            </b-col>
        </b-row>
        <br>

        <!-- Tabela de Serviços -->
        <b-card class="p-2">
            <b-table :items="services" :fields="fields" label-sort-asc="" label-sort-desc="" striped responsive>
                <!-- Campos customizados na tabela -->
                <template #cell(date)="data">
                    <p>{{getDate(data.item.date)}}</p>
                </template>

                <template #cell(end)="data">
                    <p>{{getDateTime(data.item.end)}}</p>
                </template>

                <template #cell(start)="data">
                    <p>{{getDateTime(data.item.start)}}</p>
                </template>

                <template #cell(options)="data">
                    <b-btn class="m-1" size="sm" v-b-popover.hover.left="'Editar'" variant="primary" @click="serviceModal({...data.item})">
                        <b-icon-pencil />
                    </b-btn>
                    <b-btn class="m-1" size="sm" v-b-popover.hover.left="'Excluir'" variant="danger" @click="deleteService({...data.item})">
                        <b-icon-trash/>
                    </b-btn>
                </template>

            </b-table>
        </b-card>

        <!-- Modal com formulário de criação e edição de serviços -->
        <b-modal id="service" hide-footer hide-header>
            <form @submit.prevent="saveService({...service})">
                <h5>Cadastro de Serviço</h5>
                <br>
                Serviço:
                <multiselect 
                    v-model="service.service" 
                    :options="service_options" 
                    :trackBy="'id'" 
                    :label="'description'" 
                    :hideSelected="true" 
                    :placeholder="'Selecione um serviço'"
                    :selectLabel="'Pressione Enter para selecionar'"
                    :selectedLabel="'Selecionado'"
                    :deselectLabel="'Pressione enter para remover'"/>
                <hr>
                Quantidade:
                <b-form-input name="amount" type="number" v-model="service.amount"/>
                <br>
                Funcionário:
                <b-form-input name="employee" v-model="service.employee_name"/>
                <br>
                Data:
                <b-form-input name="date" type="date" v-model="service.date"/>
                <br>
                Inicia às:
                <b-form-input name="start" type="datetime-local" v-model="service.start"/>
                <br>
                Finaliza às:
                <b-form-input name="end" type="datetime-local" v-model="service.end"/>
                <br>
                Detalhes:
                <b-form-textarea name="detail" v-model="service.detail"/>
                <br>
                <b-btn variant="success" type="submit">Salvar</b-btn>
            </form>
        </b-modal>
    </div>
</template>

<script>
    import moment from 'moment'
    import request from '@/api/request'
    import Multiselect from 'vue-multiselect'

    export default {
        components: { 
            Multiselect 
        },
        data() {
            return {
                // Serviço vazio para criação (dedfault)
                service: {
                    amount: 0,
                    employee_name: "",
                    date: "",
                    start: "",
                    end: "",
                    detail: "",
                    service: undefined,
                },
                // Campos da tabela
                fields: [
                    {
                        key: 'service.description',
                        label: 'Serviço',
                        sortable: true,
                    },
                    {
                        key: 'amount',
                        label: 'Quantidade',
                        sortable: true,
                    },
                    {
                        key: 'employee_name',
                        label: 'Funcionário',
                        sortable: true,
                    },
                    {
                        key: 'date',
                        label: 'Data',
                        sortable: true,
                    },
                    {
                        key: 'start',
                        label: 'Início',
                        sortable: true,
                    },
                    {
                        key: 'end',
                        label: 'Fim',
                        sortable: true,
                    },
                    {
                        key: 'detail',
                        label: 'Detalhes',
                        sortable: false,
                    },
                    {
                        key: 'options',
                        label: 'Opções',
                        sortable: false,
                    },
                ],
                services: [],
                service_options: [],
                // Backup de serviço vazio
                default_service_order: {
                    amount: 0,
                    employee_name: "",
                    date: '',
                    start: '',
                    end: '',
                    detail: "",
                    service: undefined,
                },
            }
        },
        mounted() {
            //Preparando lista de opções de serviços e requisitando ordens de serviço
            request(
                {
                    endpoint: 'api/service/',
                    method: 'GET',
                    data: {},
                },
                (r) => {
                    this.service_options = r.data
                    this.getServices()
                }
            )
        },
        methods: {
            // Método de requisição das ordens de serviços na API
            getServices(){
                request(
                    // Configurações da requisição
                    {
                        endpoint: 'api/service-order/',
                        method: 'GET',
                        data: {}
                    },

                    // Método de sucesso da requisição
                    (r)=> {
                        r.data.forEach(serviceOrder => {
                            this.service_options.forEach(service => {
                                if (serviceOrder.service == service.id) {
                                    serviceOrder.service = service
                                    serviceOrder.start = new Date(serviceOrder.start).toISOString().substring(0, 16)
                                    serviceOrder.end = new Date(serviceOrder.end).toISOString().substring(0, 16)
                                }
                            })
                        });
                        this.services = r.data
                    },

                    // Método de falha da requisição
                    (err)=> {
                        console.log(r)
                        this.$bvToast.toast(
                            'Houve algum problema, tente novamente ou contate-nos caso persista.', 
                            {
                                title: 'Desculpe',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'danger'
                            }
                        )
                    }
                )
            },
            // Método de criação e edição do serviço
            saveService(service = {...default_service_order}){

                let create = service.id == undefined

                service.service = service.service.id

                request(
                    // Configurações da requisição
                    {
                        endpoint: 'api/service-order/' + (create ?  '' : service.id + '/'),
                        method: create ? 'POST' : 'PUT',
                        data: {...service},
                    },

                    // Método de sucesso da requisição
                    (r)=> {
                        this.$bvToast.toast(
                            'A ordem de serviço foi cadastrada com êxito.', 
                            {
                                title: 'Sucesso',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'success'
                            }
                        )
                        this.$bvModal.hide('service')
                        this.getServices()
                    },

                    // Método de falha da requisição
                    (err)=> {
                        console.log(err)
                        this.$bvToast.toast(
                            'Houve algum problema, tente novamente ou contate-nos caso persista.', 
                            {
                                title: 'Desculpe',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'danger'
                            }
                        )
                    },
                )
            },
            // Método de exclusão da ordem de serviço
            deleteService(service){
                request(
                    // Configurações da requisição
                    {
                        endpoint: 'api/service-order/' + service.id + '/',
                        method: 'DELETE',
                        data: {},
                    },
                    (r)=> {
                        this.$bvToast.toast(
                            'A ordem de serviço foi excluída com êxito.', 
                            {
                                title: 'Sucesso',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'success'
                            }
                        )
                        this.getServices()
                    }
                )
            },
            serviceModal(service){
                // Exibindo modal de ordem de serviço
                this.service = {...service}
                this.$bvModal.show('service')
            },
            getDateTime(date, size=16){
                // Formatação de data e hora para padrão brasileiro
                return new Date(date).toLocaleString('pt-BR','full').substring(0, size)
            },
            getDate(date, format="DD/MM/YYYY"){
                // Formatação de data para padrão brasileiro
                return moment(JSON.stringify(date)).format(format)
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>