<template>
    <div class="m-2">

        <!-- Cabeçalho -->
        <b-row>
            <b-col md="6">
                <h5 class="pl-2">Serviços</h5>
            </b-col>
            <b-col md="2" align="end" offset-md="4">
                <b-btn @click="serviceModal({description: '',value: 0.0})" v-b-modal.service variant="primary">Adicionar</b-btn>
            </b-col>
        </b-row>
        <br>

        <!-- Tabela de Serviços -->
        <b-card class="p-2">
            <b-table :items="services" :fields="fields" label-sort-asc="" label-sort-desc=""  striped responsive>
                <template #cell(options)="data">
                    <b-btn class="m-1" size="sm" v-b-popover.hover.left="'Editar'" variant="primary" @click="serviceModal({...data.item})">
                        <b-icon-pencil />
                    </b-btn>
                    <b-btn class="m-1" size="sm" v-b-popover.hover.left="'Excluir'" variant="danger" @click="deleteService({...data.item})">
                        <b-icon-trash/>
                    </b-btn>
                </template>
            </b-table>
        </b-card>

        <!-- Modal de Criação e edição de serviços -->
        <b-modal id="service" hide-footer hide-header>
            <form @submit.prevent="saveService({...service})">
                <h5>Cadastro de Serviço</h5>
                <br>
                Descrição:
                <b-form-input v-model="service.description"/>
                <br>
                Valor:
                <b-form-input type="number" step="0.01" v-model="service.value"/>
                <br>
                <b-btn variant="success" type="submit">Salvar</b-btn>
            </form>
        </b-modal>
    </div>
</template>

<script>
    import request from '@/api/request'

    export default {
        data() {
            return {
                service: {
                    description: '',
                    value: 0.0,
                },
                fields: [
                    {
                        key: 'description',
                        label: 'Descrição',
                        sortable: true,
                    },
                    {
                        key: 'value',
                        label: 'Valor',
                        sortable: true,
                    },
                    {
                        key: 'options',
                        label: 'Opções',
                        sortable: false,
                    },
                ],
                services: []
            }
        },
        mounted() {
            //Requisitando serviços à API
            this.getServices()
        },
        methods: {
            getServices(){
                request(
                    // Configurações da requisição
                    {
                        endpoint: 'api/service/',
                        method: 'GET',
                        data: {}
                    },

                    // Método de sucesso da requisição
                    (r)=> {
                        this.services = r.data
                    },

                    // Método de falha da requisição
                    (err)=> {
                        console.log(r)
                        this.$bvToast.toast(
                            'Houve algum problema, tente novamente ou contate-nos caso persista.', 
                            {
                                title: 'Desculpe',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'danger'
                            }
                        )
                    }
                )
            },
            saveService(service = {description: '',value: 0.0}){

                let create = service.id == undefined

                request(
                    // Configurações da requisição
                    {
                        endpoint: 'api/service/' + (create ?  '' : service.id + '/'),
                        method: create ? 'POST' : 'PUT',
                        data: {...service},
                    },

                    // Método de sucesso da requisição
                    (r)=> {
                        this.$bvToast.toast(
                            'O serviço foi cadastrado com êxito.', 
                            {
                                title: 'Sucesso',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'success'
                            }
                        )
                        this.$bvModal.hide('service')
                        this.getServices()
                    },

                    // Método de falha da requisição
                    (err)=> {
                        console.log(err)
                        this.$bvToast.toast(
                            'Houve algum problema, tente novamente ou contate-nos caso persista.', 
                            {
                                title: 'Desculpe',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'danger'
                            }
                        )
                    },
                )
            },
            deleteService(service){
                request(
                    // Configurações da requisição
                    {
                        endpoint: 'api/service/' + service.id + '/',
                        method: 'DELETE',
                        data: {},
                    },
                    (r)=> {
                        this.$bvToast.toast(
                            'O serviço foi excluído com êxito.', 
                            {
                                title: 'Sucesso',
                                autoHideDelay: 5000,
                                appendToast: true,
                                variant: 'success'
                            }
                        )
                        this.getServices()
                    },
                    (err)=> {
                        this.$bvToast.toast(
                            'Não foi possível deletar este serviço, verifique se há algum vínculo com alguma Ordem de Serviço.', 
                            {
                                title: 'Desculpe',
                                autoHideDelay: 10000,
                                appendToast: true,
                                variant: 'danger'
                            }
                        )
                        this.getServices()
                    }
                )
            },
            serviceModal(service){
                this.service = {...service}
                this.$bvModal.show('service')
            }
        }
    }
</script>

<style>

</style>