<template>
    <div id="app">
        <div>
        <b-navbar toggleable variant="light">
            <b-navbar-brand href="#/home">Gestão de serviços</b-navbar-brand>

            <b-navbar-toggle target="navbar-toggle-collapse">
            <template #default="{ expanded }">
                <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
                <b-icon v-else icon="chevron-bar-down"></b-icon>
            </template>
            </b-navbar-toggle>

            <b-collapse id="navbar-toggle-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-item v-if="logged" @click="logout">Sair</b-nav-item>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        </div>
        <router-view/>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                logged: false
            }
        },
        mounted(){
            this.logged = localStorage.getItem('logged')
        },
        methods: {
            logout(){
                localStorage.clear()
                window.location.href = ''
                window.location.reload()
            }
        }
    }
</script>
